.nano-toast-toast {
  --y: translateY(100%);
  --border-radius: 6px;

  --direction: -1;
  --offset: var(--direction) * var(--height-index) * var(--gap);
  --expanded-offset: var(--direction) * var(--toast-height-before) +
    var(--offset);

  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  gap: 6px;

  box-sizing: border-box;
  width: var(--width);
  padding: 16px;
  border: 1px solid #eee;
  border-radius: var(--border-radius);

  z-index: var(--z-index);
  outline: none;
  background: #fff;
  opacity: 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  will-change: opacity, transform, height;
  transition: opacity 400ms, transform 400ms, height 400ms;

  transform: var(--y);
}

.nano-toast-toast > * {
  transition: opacity 400ms;
}

.nano-toast-toast[data-mounted='true'] {
  --y: translateY(0);
  opacity: 1;
  height: var(--initial-height); /* need this to animate height */
}

.nano-toast-toast[data-front='false']::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: calc(var(--gap) + 1px);
}

.nano-toast-toast[data-front='false'][data-expanded='false'] {
  --y: translateY(calc(var(--offset)))
    scale(calc(1 - var(--height-index) * 0.05));
  height: var(--front-toast-height);
}

.nano-toast-toast[data-front='false'][data-expanded='true'] {
  --y: translateY(calc(var(--expanded-offset)));
  height: var(--initial-height);
}

.nano-toast-toast[data-removed='true'][data-expanded='true'] {
  --y: translateY(calc(var(--expanded-offset) + var(--direction) * -100%));
  opacity: 0;
}

.nano-toast-toast[data-removed='true'][data-expanded='false'] {
  opacity: 0;
}

.nano-toast-toast[data-front='true'][data-removed='true'][data-expanded='false'] {
  opacity: 0;
  --y: translateY(100%);
}

.nano-toast-toast[data-front='false'][data-expanded='false'] > * {
  opacity: 0;
  pointer-events: none;
}

.nano-toast-toast[data-visible='false'] {
  opacity: 0;
  pointer-events: none;
}

.nano-toast-toast-close-btn {
  position: absolute;
  left: 0;
  top: 0;

  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  transform: translate(-35%, -35%);

  background: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  transition: opacity 100ms;
}

.nano-toast-toast:hover .nano-toast-toast-close-btn {
  opacity: 1;
}

.nano-toast-toast-icon {
  display: flex;
  flex-shrink: 0;
  align-self: flex-start;
}

.nano-toast-toast-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.nano-toast-toast-title {
  font-weight: 500;
}
